<h1>Deployer MG</h1> 
<hr>

<%if @exist_config %>


<% if flash[:message] %>
  <b>Message:</b> <br>
  <h2><%= flash[:message]%></h2>
  <hr>
<% else %>
  <%= link_to 'Send this version to Production', aws_deploy_send_to_production_path %>
<% end %>






<% else %>
  <%= render :partial => "config_file_not_found" %>
<% end %>
