.bundle/
log/*.log
pkg/
test/dummy/*
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

/aws_deploy-0.2.5.0.gem

.DS_Store

/config/routes.rb.orig

/aws_deploy-0.3.0.0.gem
